@import url('/style.css');
 @import url('/component/slidebaar.css');
 @import url('/component/alert/alert.css');
 
  .image {
     display: flex;
     gap: 20rem;
     margin-top: 2rem;
  }
 .round-image img{
    height: 35vh;
    width: 20vw;
    border: 1px solid;
    border-radius: 50%;
   }
   .responsive-image img{
      height: 35vh;
      width: 20vw;
      border: 1px solid;
 }
 .image-area{
    margin-top: 2rem;
    display: flex;
    gap: 18rem;
 }