body{
    margin: 0px;
    padding: 0px;
}

:root{
    --primary-color: #ff3b30;
    --secondary-color: #282828;
 }

.container img{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.heading{
    position: absolute;
    top: 5px;
    left: 1rem;
    color: var(--primary-color);
    flex-wrap: wrap;
}

.social-media-link {
    position: absolute;
    top: 1.6rem;
    right: 5px;
    color: var(--primary-color);
    flex-wrap: wrap;
}

.social-media-link a{
    margin-right: 2.5rem;
    color: var(--primary-color);
}

.description-part{
    position: absolute;
    height: 20rem;
    width: 20rem;
    top: 30%;
    right: 1rem;
    color: white;
    flex-wrap: wrap;
}

.description-part a{
    margin-left: 10rem;
    font-size: 20px;
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    color: white;
    border-radius: 5px;
}

span{
    color: var(--primary-color);
}

.description-part a:hover{
    background-color: red;
}