@import url('./style.css');
@import url('./sidebar.css');
body {
    background: unset;
}

.nav{
    background-color: var(--secondary-color);
}

.container{
    display: flex;
}

main{
    display: block;
    padding: 2rem;
    width: 100%;
}
.comp-heading{
    font-size: 2rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}
.comp-desc{
    color: var(--light-color);
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
 .box{
     width: 100%;
     height: 100%;
     justify-content: space-around;
     align-items: center;
    display: flex;
 }

.code-preview{
    width: 100%;
    padding: 1.5rem;
    height: auto;
    margin-bottom: 2rem;
    box-shadow: rgba(14, 30, 37, 0.062) 0px 2px 4px 0px, rgba(14, 30, 37, 0.199) 0px 2px 16px 0px;
    display: flex;
    flex-wrap: wrap;
}
.code-preview:hover{
    box-shadow: rgba(14, 30, 37, 0.315) 0px 2px 4px 0px, rgba(14, 30, 37, 0.329) 0px 2px 16px 0px;
}
.code{
    width: 100%;
    border: none;
    min-height: 50vh;
}
.component-button{
    font-size: 2rem;
    margin: 2rem;
    float: right;
}