* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Short Stack', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../images/component-wallpaper1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

:root {
    --default-color: #ffff;
    --primary-color: #ff3b30;
    --secondary-color: #2e2e2e;
    --light-color: #414141d7;
    --success-color: rgb(129, 250, 129);
    --warning-color: rgb(211, 233, 132);
    --error-color: rgb(245, 102, 91);
    --info-color: rgb(132, 134, 233);
    --primarybutton-color: rgb(99, 99, 241);
    --secondarybutton-color: rgb(154, 243, 154);
    --warningbutton-color: rgb(170, 170, 0);
    --errorbutton-color: rgb(250, 106, 106);
    --button-color: rgb(73, 72, 72);
    --subtitleActualprice-color: rgb(177, 176, 176);
}