<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="alert.css">
</head>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<body>
    <div class="header-content">
        <header>
            <h1 class="heading">BOOSTWEB UI</h1>
            <div class="social-media-link">
                <a href="#"> <i class="fab fa-instagram" style="font-size:40px"></i> </a>
                <a href="#"> <i class="fab fa-linkedin" style="font-size:40px"></i></a>
                <a href="#"> <i class="fab fa-github" style="font-size:40px"> </i></a>
            </div>
        </header>
    </div>
    <hr>
    <div class="sidebar">

        <ul>
            <li><a href="#">Alert</a></li>

            <li> <a href="#">Avater</a></li>

            <li> <a href="#">Badge</a></li>

            <li> <a href="#">Button</a></li>

            <li> <a href="#">Card</a></li>

            <li> <a href="#">Image</a></li>

            <li> <a href="#">Input</a></li>
        </ul>
    </div>

    <div class="alert-content">
        <h1>Alert</h1>
        <p>The alert box takes the focus away from the current window, and forces the user to read the message</p>
        <div class="alert-success alert">
            <p>Well done! You sucessfully read this importanat alert message</p>
        </div>
        <div class="alert-warning alert">
            <p>Warning! Better check yourself. You are not looking too good</p>
        </div>
        <div class="alert-error alert">
            <p>Oh snap! Change a few thing up and try submitting again</p>
        </div>
        <div class="alert-info alert">
            <p>heads up! This alert nees your attention but its not super important</p>
        </div>
    </div>
</body>

</html>