.alert {
    height: 2.5rem;
    width: 40rem;
    margin-top: 1rem;
    padding: 5px 5px 0 5px;
}

.alert-success {
    background-color: var(--success-color);
    border-radius: 5px;
}

.alert-warning {
    background-color: var(--warning-color);
    border-radius: 5px;
}

.alert-error {
    background-color: var(--error-color);
    border-radius: 5px;
}

.alert-info {
    background-color: var(--info-color);
    border-radius: 5px;
}

