 .input-container input{
    height: 2rem;
    width: 15rem;
    gap: 2rem;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
    display: flex
}
    
.input-container{
    margin-top: 2rem;
    justify-content: center;
}
.input-subtitle{
    margin-left: 4.4rem;
}
.input-box{
    height: 2rem;
    width: 12rem;
    border-color: var(--primary-color);
  }
.inputbox{
    gap: 4rem;
    display: flex;
    justify-content: space-around;
}
.checkbox-input,.radio-input{
    margin-left: 2rem;
}
  