.extra-large-img img{
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}
.large-img img{
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
}
.medium-img img{
    height: 2.7rem;
    width: 2.7rem;
    border-radius: 50%;
}
.small-img img{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

 