@import url('/style.css');
@import url('/component/slidebaar.css');
 
.box button{
    border-radius: 5px;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    display: block;
}

.standard-primary {
    color: var(--primarybutton-color);
}
.standard-primary:hover{
    background-color: var(--primarybutton-color);
    color: var(--default-color);
}
.outline-primary{
    color: var(--primarybutton-color);
    border-color: var(--primarybutton-color);
}

.standard-secondary {
    color:  var(--secondarybutton-color);
    border: none;
    background-color: var(--default-color);
}
.outline-secondary{
    color:  var(--secondarybutton-color);
    border-color:  var(--secondarybutton-color);
}
.standard-secondary:hover {
    background-color:  var(--secondarybutton-color);
    border: 1px solid;
    color: var(--default-color);   
}
.standard-error{
    background-color: var(--default-color);
    border: none;
}
.standard-error:hover {
    text-decoration: underline;
    color: var(--errorbutton-color);
}

.outline-error{
    color: var(--errorbutton-color);
    border-color: var(--errorbutton-color);
}
.standard-warning{
    border: none;
    text-decoration: underline;
    background-color: var(--default-color);   
}
.standard-warning:hover {
    color: var(--warningbutton-color);
    text-decoration: none;
}

.outline-warning{
    color: var(--warningbutton-color);
    border-color: var(--warningbutton-color);
}

.button-heading {
    margin: 2rem 1rem 1rem 0;
}

.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}
.icon-button button:hover {
    background-color: var(--default-color);
}