@import url('/style.css');
@import url('/component/slidebaar.css');

.btn{
    border: 2px solid red;
    padding: 0.5rem;
    border-radius: 0.2rem;
}

 
.box button{
    border-radius: 5px;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    display: block;
}

.standard-primary {
    background-color: var(--primarybutton-color);
}
.outline-primary{
    color: var(--primarybutton-color);
    border-color: var(--primarybutton-color);
}

.standard-secondary {
    background-color:  var(--secondarybutton-color);
}
.outline-secondary{
    color:  var(--secondarybutton-color);
    border-color:  var(--secondarybutton-color);
}

.standard-error {
    background-color: var(--errorbutton-color);
}

.outline-error{
    color: var(--errorbutton-color);
    border-color: var(--errorbutton-color);
}

.standard-warning {
    background-color: var(--warningbutton-color);
}

.outline-warning{
    color: var(--warningbutton-color);
    border-color: var(--warningbutton-color);
}

.button-heading {
    margin: 2rem 1rem 1rem 0;
}

.box{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}