@import url('/style.css');
@import url('/component/slidebaar.css');

.btn{
    border: 2px solid red;
    padding: 0.5rem;
    border-radius: 0.2rem;
}


.container button {
    margin-left: 3rem;
    margin-top: 2.7rem;
    border: 1px solid;
    height: 2rem;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    font-weight: bolder;

}

.standard-primary,.outline-primary {
    /* background-color: rgb(99, 99, 241); */
    background-color: var(--primarybutton-color);
}

.standard-secondary,.outline-secondary {
    background-color:  var(--secondarybutton-color);
}

.standard-error,.outline-error {
    background-color: var(--errorbutton-color);
}

.standard-warning,.outline-warning {
    background-color: var(--warningbutton-color);
}

 .button-heading {
    margin: 2rem 1rem 1rem 0;
}

.button-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}