@import url('/style.css');
 @import url('/component/slidebaar.css');
 @import url('/component/alert/alert.css');

 *{
     margin: 0px;
     padding: 0px;
 }

 .vertical-card{
     height: 20rem;
     width: 14rem;
     border: 1px solid;
     border-radius: 5px;
     margin-left: 5rem;
     flex-wrap: wrap;
 }
 .vertical-card img{
     height: 66%;
     width: 100%;
 }
 .image-title{
     font-size: 17px;
 }
 .image-subtitle{
     font-size: 15px;
     color: var(--subtitleActualprice-color);
    }
    .actual-price{
        text-decoration: line-through;
        color: var(--subtitleActualprice-color);
 }
 .discount{
    font-size: 15px;
    color: var(--primary-color);
    margin-left: auto;
 }
 .price-content{
     display: flex;
     align-items: center;
 }
 
.buy-button ,.read-more{
    background-color: var(--button-color);
     height: 26px;
     width: 95%;
     text-align: center;
     border-radius: 5px;
     margin-left: 5px;
     color: var(--default-color);
     padding-top: 5px;
    }
    .buy-button a,.read-more a{
    color: var(--default-color);
 }
 .horizontal-card{
     height: 18rem;
     width: 26rem;
     border: 1px solid;
     border-radius: 5px;
 }
 .horizontal-card img{
     height: 15rem;
     width: 14rem;
 }
 .horizontal-content{
     display: flex;
     gap: 1rem;
 }
 .text-overlay{
     height: 21.5rem;
     width: 15rem;
     border: 1px solid;
     border-radius: 5px;
     margin-left: 2rem;
 }
 .text-overlay img{
     width: 100%;
 }
 .text-overlay,.text-only p{
     font-size: 1.25px;
 }
 .text-overlay-heading{
     margin-top: -2.7rem;
     text-align: center;
 }
 .text-only{
     height: 13rem;
     width: 15rem;
     border: 1px solid;
     border-radius: 5px;
     margin-left: 2rem;
 }
 .text-only-heading{
     text-align: center;

 }
 .sell-tag{
    position: absolute;
    background-color: var(--primary-color);
    padding: 2px;
    color: var(--default-color);
 }
 .wiselist-tag{
     margin-left: 12rem;
     position: absolute;
     color: var(--primary-color);
 }
 .horizontal-overlay-onlytext{
     gap: 1rem;
     flex-wrap: wrap;
 }