 .header-content{ 
    height: 5rem;
    width: 100%;
    background-color: var(--secondary-color);
}
.avator-badge img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}
 
.badge-container{
    height: 9rem;
    width: 100%;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
     
}
 .badge{
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
 }
.badge-icon {
    font-size: 3rem;
    position: relative;
     border: none;
     
}
.badge-symbol{
    position: absolute;
    font-size: 15px;
    top: -10px;
    right: -5px;
    border: 1px solid;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: var(--default-color);
    font-weight: 600;
}
.badge-text{
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
}



 