<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOSTWEB-UI | Text utility</title>
    <!-- fonstawesome links for fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom link for documetation -->
    <link rel="stylesheet" href="/style/comp-rest.css">

    <!-- component libraray -->
    <link rel="stylesheet" href="/component/boostweb.css">
</head>

<body>
    <!-- header section -->
    <header class="nav">
        <h1 class="logo">BOOSTWEB UI</h1>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/rocky-abb69921b/"><i class="social-icon fa fa-linkedin"></i></a>
            <a href="https://twitter.com/ImRocky7277"><i class="social-icon fa fa-twitter"></i> </a>
            <a href="https://github.com/Rockyraven"><i class="social-icon fa fa-github"> </i></a>
        </div>
    </header>

    <div class="container">
        <!-- sidebar -->
        <aside class="sidebar">
            <a href="/installation.html">Install</a>
            <a href="/component/alert/alert.html">Alert</a>
            <a href="/component/avatar/avatar.html">Avatar</a>
            <a href="/component/badge/badge.html">Badge</a>
            <a href="/component/button/button.html">Button</a>
            <a href="/component/card/card.html">Card</a>
            <a href="/component/image/image.html">Image</a>
            <a href="/component/input/input.html">Input</a>
            <a href="/component/navbar/navbar.html">Navbar</a>
            <a href="/component/rating/rating.html">Rating</a>
            <a href="/component/utility/utility.html">Text Utilities</a>
            <a href="/component/model/model.html">Modal</a>
            <a href="/component/list/list.html">list</a>
        </aside>

        <!-- main content -->
        <main>
            <h2 class="comp-heading">Text Utilities</h2>
            <p class="comp-desc"> Text utils are used to show text on any website.It can be of any sizes or of any
                color.</p>
            <h2 class="text-heading">Text of different sizes</h2>
            <div class="code-preview">
                <div class="text-size">
                    <h1>Extra Large Text</h1>
                    <h2>Large Text</h2>
                    <h3>Medium Text</h3>
                    <h4>Small Text</h4>
                </div>
            </div>
            <iframe class="code"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C59%2C48%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%253Cdiv%2520class%253D%2522text-size%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch1%253EExtra%2520Large%2520Text%253C%252Fh1%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch2%253ELarge%2520Text%253C%252Fh2%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch3%253EMedium%2520Text%253C%252Fh3%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Ch4%253ESmall%2520Text%253C%252Fh4%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h2 class="text-heading">Aligned Text</h2>
            <div class="code-preview">
                <div class="text-align">
                   <div class="left-align"> <p>Left Aligned Text</p></div>
                   <div class="centre-align"><p>Centre Aligned Text</p> </div>
                    <div class="right-align"><p>Right Aligned Text</p></div>
                </div>
            </div>

            <iframe class="code"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C59%2C48%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%2520%2520%2520%253Cdiv%2520class%253D%2522text-align%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%2520class%253D%2522left-align%2522%253ELeft%2520Aligned%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%2520class%253D%2522centre-align%2522%253ECentre%2520Aligned%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%2520class%253D%2522right-align%2522%253ERight%2520Aligned%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%2520%2520%253C%252Fdiv%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <h2 class="text-heading">Paragraph Text</h2>
            <div class="code-preview">
                <div class="paragraph-text">
                    <p class="paragraph-lg">Paragraph Large Text</p>
                    <p class="paragraph-rg">Paragraph Regular Text</p>
                    <p class="paragraph-md">Paragraph Medium Text</p>
                    <p class="paragraph-sm">Paragraph Small Text</p>
                </div>
            </div>
            <iframe class="code"
                src="https://carbon.now.sh/embed?bg=rgba%28255%2C59%2C48%2C1%29&t=blackboard&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=143%25&si=false&es=2x&wm=false&code=%2520%2520%2520%253Cdiv%2520class%253D%2522paragraph-text%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%2520class%253D%2522paragraph-lg%2522%253EParagraph%2520Large%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%2520class%253D%2522paragraph-rg%2522%253EParagraph%2520Regular%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%2520class%253D%2522paragraph-md%2522%253EParagraph%2520Medium%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%253Cp%2520class%253D%2522paragraph-sm%2522%253EParagraph%2520Small%2520Text%253C%252Fp%253E%250A%2520%2520%2520%2520%253C%252Fdiv%253E"
                sandbox="allow-scripts allow-same-origin">
            </iframe>
            <div class="component-button">
                <a href="/component/rating/rating.html"><i class=" fa fa-arrow-left"></i>Rating</i></a>
                <a href="/component/model/model.html" class="right-button">Modal<i class=" fa fa-arrow-right"></i></a>
            </div>
        </main>
    </div>
</body>

</html>